<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PATTERNS</title>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="test.js"></script>
	<script type="text/javascript" src="performance.js"></script>

	<script type="text/html" id="template">
		<p>
			<%= pattern %>
			<button data-index="<%= index %>">RUN</button>
		</p>
	</script>
	<script type="text/html" id="photoTemplate">
		<p>
			Lanistas unda in teres cirpi!
			<br/>
			<%= data %>
			<br/>
			Cum era nocere, omnes habenaes magicae talis, pius extumes.
		</p>
	</script>
	<style type="text/css">
		.container {
			width  : 500px;
			margin : 0 auto;
		}

		button {
			float : right;
		}
	</style>
</head>
<body>
<div class="container"></div>
<div id="content"></div>
</body>
</html>
